/* Color Variables */
:root {
    --primary-dark-blue: #253746; /* Dark Blue */
    --secondary-light-blue: #4E7AC7; /* Light Blue */
    --accent-green: #52CC52; /* Green */
    --neutral-gray: #888888; /* Gray */
  }

* {
    font-size: 14px;
    text-align: center;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: var(--primary-dark-blue); /* Dark Blue Background */
    color: white; /* White Text */
    padding: 0px;
    margin: 0px;
}

.initial-walkthrough {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
}

.stepper {
    display: flex;
    column-gap: 3rem;
    margin-bottom: 0.5rem;
}

.stepper .step {
    position: relative;
    color: var(--neutral-gray);
}

.step > p {
    background-color: var(--neutral-gray);
    color: black;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.step:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 35%;
    left: 50%; /* Start from the right edge of the circle */
    width: 9rem; /* Adjust width to account for circle diameter */
    height: 1px;
    background-color: var(--neutral-gray);
    z-index: 0;
}

.stepper .step.active {
    color: white; 
}

.step.active > p {
    background-color: white;
}

.instruction {
    width: 80%; 
    height: 50%;
    margin-top: 0.5rem;
    border-radius: 5px;
    color: white;
    margin-bottom: 0.5rem;
}

.instruction > p {
    font-size: 1.2rem;
}

.navigation-buttons {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#map {
    position: absolute;
    left: 0;
    top: 0; 
    height: 100%;
    width: 50%;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Grayscale overlay with opacity */
    pointer-events: none; /* Allows interactions with the map underneath */
    mask-image: radial-gradient(circle at center, transparent 0, transparent 100px, black 150px); /* Circular mask */
}

#app-name {
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}

#back-button, #next-button {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    background-color: var(--accent-green);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#back-button:disabled, #next-button:disabled {
    background-color: var(--neutral-gray);
    cursor: default;
}

#step1-instruction input {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--primary-dark-blue);
    background-color: white;
    color: var(--primary-dark-blue);
    cursor: pointer;
}

#step1-instruction button {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: var(--accent-green);
    border-radius: 50%;
    cursor: pointer;
}

#location-icon {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
}

#instagram-connect-btn {
    background-color: #E1306C;
    min-width: 30%;
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}

#instagram-placeholder {
    padding: 0.5rem;
    margin-top: 5rem;
    background-color: white;
    color: var(--primary-dark-blue);
    border: 1px solid var(--neutral-gray);
    border-radius: 5px;
}

#step3-instruction div {
    margin-top: 0.5rem;
    background-color: white;
    color: var(--primary-dark-blue);
    padding: 0.5rem;
    border-radius: 5px;
}

#start-journey-btn {
    width: 30%;
    height: 15%;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 3rem;
    padding: 0.5rem;
    background-color: var(--accent-green);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s ease;
}

#start-journey-btn:hover {
    width: 40%;
    height: 20%;
    font-size: 1.75rem;
}

#instagram-logo {
    width: 2.25rem;
    height: 2.25rem;
}
