/* Color Variables */
:root {
    --primary-dark-blue: #253746; /* Dark Blue */
    --secondary-light-blue: #4E7AC7; /* Light Blue */
    --accent-green: #52CC52; /* Green */
    --neutral-gray: #888888; /* Gray */
  }

* {
    font-size: 14px;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: var(--primary-dark-blue); /* Dark Blue Background */
    color: white; /* White Text */
    padding: 0px;
    margin: 0px;
}

.initial-walkthrough {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
}

.stepper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    margin-bottom: 15rem;
}

.stepper .step {
    cursor: pointer;
    position: relative;
    color: var(--neutral-gray);
}

.stepper .step.active, .step > span {
    color: white; /* Active step color */
}

.step > span {
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: white;
    color: black;
}

.step:nth-of-type(1)::after,
.step:nth-of-type(2)::after {
    position: absolute;
    right: -1.5rem; /* Half the space gap to center the line */
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2px;
    background-color: white;
}

.stepper .instruction {
    width: 10rem; 
    height: 20%;
    background-color: var(--secondary-light-blue);
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    color: black;
}

.navigation-buttons {
    
}

#map {
    position: absolute;
    left: 0;
    top: 0; 
    height: 100%;
    width: 50%;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Grayscale overlay with opacity */
    pointer-events: none; /* Allows interactions with the map underneath */
    mask-image: radial-gradient(circle at center, transparent 0, transparent 100px, black 150px); /* Circular mask */
}

#app-name {
    color: white;
    font-size: 3rem;
    margin-bottom: 4rem;
}

#back-button, #next-button {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    background-color: var(--accent-green);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#back-button:disabled, #next-button:disabled {
    background-color: var(--neutral-gray);
    cursor: default;
}

