/* Color Variables */
:root {
    --primary-dark-blue: #253746; /* Dark Blue */
    --secondary-light-blue: #4E7AC7; /* Light Blue */
    --accent-green: #52CC52; /* Green */
    --neutral-gray: #888888; /* Gray */
  }

* {
    margin: auto;
    font-size: 14px;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: var(--primary-dark-blue); /* Dark Blue Background */
    color: white; /* White Text */
}

#map {
    position: absolute;
    left: 0;
    top: 0; 
    height: 100%;
    width: 50%;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Grayscale overlay with opacity */
    pointer-events: none; /* Allows interactions with the map underneath */
    mask-image: radial-gradient(circle at center, transparent 0, transparent 100px, black 150px); /* Circular mask */
  }

  #initial-walkthrough {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%; /* Adjust width as needed */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.app-name {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--secondary-light-blue);
    font-size: 24px;
}

.stepper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step {
    background-color: var(--neutral-gray);
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.step.active {
    background-color: var(--accent-green);
}
